{{#extend "layout"}}
{{#content "title"}}Привіт, {{name}}!{{/content}}
{{#content "content"}}
  <div>
    <p>Ви щойно підтримали Ш++/КОВО на <a href="{{site_url}}">{{site_url}}</a></p>
    <p>Для нас це неабияк важливо, адже кожен новий підтримувач робить нас ще більш незалежними, стабільними та прискорює наш ріст.</p>
    <p>Мрія вчити безкоштовно і розвивати людей, місто, країну стає реальною саме завдяки вам. Круто знати, що ще одна людина вірить у ідею місця, де все тримається на волонтерських засадах і бажанні робити хороші справи.</p>
    <p>До речі, ви підтримали соціальний проект, яких в Україні (начебто) більше немає, і сподіваємось це надихає вас так само як і нас.</p>
    {{#if subscribe}}
      <hr>
      <p>ID вашої щомісячної підписки: <strong>{{order_id}}</strong></p>
      <p>Якщо ви захочете скасувати підписку, надішліть ваш ID на <a href="mailto:donate@kowo.me">donate@kowo.me</a>.</p>
      <hr>
    {{/if}}
    <p>
      Дякуємо &hearts;<br>
      Ваша Ш++
    </p>
  </div>
{{/content}}
{{/extend}}
